case/*/*.abq
case/*/*.com
case/*/*.cid
case/*/*.dat
case/*/*.mdl
case/*/*.msg
case/*/*.odb
case/*/*.pac
case/*/*.prt
case/*/*.res
case/*/*.sel
case/*/*.simlog
case/*/*.sta
case/*/*.stt
case/*/*.lck
case/*/private/
case/*/*_private/
case/*/magnetic_increment.csv
case/*/magnetic_increment_*.csv
*_solver.log
*_extract.log
*_DATACHECK.log
scripts/__pycache__/
