cases/*/*.odb
cases/*/*.sim
cases/*/*.sta
cases/*/*.msg
cases/*/*.dat
cases/*/*.prt
cases/*/*.com
cases/*/*.pac
cases/*/*.abq
cases/*/*.mdl
cases/*/*.stt
cases/*/*.res
cases/*/*.sel
cases/*/*.lck
cases/*/*telemetry*
cases/*/*socket*
cases/*/*hydro_increment*
cases/*/private/
__pycache__/
*.pyc
*.tiff
