case/S4_HEADFORWARD_F40_G0P05_FLOW/*.odb
case/S4_HEADFORWARD_F40_G0P05_FLOW/*.abq
case/S4_HEADFORWARD_F40_G0P05_FLOW/*.mdl
case/S4_HEADFORWARD_F40_G0P05_FLOW/*.pac
case/S4_HEADFORWARD_F40_G0P05_FLOW/*.prt
case/S4_HEADFORWARD_F40_G0P05_FLOW/*.res
case/S4_HEADFORWARD_F40_G0P05_FLOW/*.sel
case/S4_HEADFORWARD_F40_G0P05_FLOW/*.stt
case/S4_HEADFORWARD_F40_G0P05_FLOW/*.lck
case/S4_HEADFORWARD_F40_G0P05_FLOW/private/
case/S4_HEADFORWARD_F40_G0P05_FLOW/*_telemetry.csv
case/S4_HEADFORWARD_F40_G0P05_FLOW/*_socket_*.log
case/S4_HEADFORWARD_F40_G0P05_FLOW/*.env
case/S4_HEADFORWARD_F40_G0P05_FLOW/*.com
case/S4_HEADFORWARD_F40_G0P05_FLOW/*.sta
case/S4_HEADFORWARD_F40_G0P05_FLOW/*.msg
case/S4_HEADFORWARD_F40_G0P05_FLOW/*.dat
case/S4_HEADFORWARD_F40_G0P05_FLOW/hydro_increment.csv
*_force_velocity_timeseries.csv
*_contact_episodes.csv
*.log
*.err
