cases/*/private/
cases/_meshes/
cases/*/*.inp
cases/*/*.odb
cases/*/*.sim
cases/*/*.sta
cases/*/*.msg
cases/*/*.dat
cases/*/*.prt
cases/*/*.com
cases/*/*.pac
cases/*/*.abq
cases/*/*.mdl
cases/*/*.stt
cases/*/*.res
cases/*/*.sel
cases/*/*.lck
cases/*/*telemetry*
cases/*/*socket*
cases/*/*hydro_increment*
cases/*/*.dll
__pycache__/
*.tiff

