case/*/*.abq
case/*/*.cid
case/*/*.com
case/*/*.dat
case/*/*.env
case/*/*.lck
case/*/*.mdl
case/*/*.msg
case/*/*.odb
case/*/*.odb_f
case/*/*.pac
case/*/*.prt
case/*/*.res
case/*/*.sel
case/*/*.sim
case/*/*.simlog
case/*/*.sta
case/*/*.stt
case/*/private/
case/*/magnetic_hydro_increment.csv
*.log
scripts/__pycache__/
