*.odb
*.sim
*.stt
*.res
*.pac
*.sel
*.abq
*.mdl
*.prt
*.com
*.msg
*.dat
*.sta
*.lck
*.rec
*.dll
*.tiff
*.tif
*.npz
__pycache__/
private/
*_telemetry.csv
*_socket_stdout.log
*_socket_stderr.log
*_hydro_increment.csv
